.my-class{
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
}


.heading{
    text-align: center;
    font-size: large;
    margin: 0;
    padding: 0;
}

.bg-success{
    background-color: rgb(106, 186, 106);
    color: white;
}

.bg-danger{
    background-color: rgb(186, 106, 106);
    color: white;
}


.buttonStyle{
    background-color: rgb(34, 69, 130);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonStyle:hover {
    background-color: rgb(24, 49, 90);
    transform: scale(1.05);
}

.buttonStyle:active {
    background-color: rgb(14, 29, 50);
    transform: scale(0.95);
}

.buttonStyle-success{
    background-color: rgb(49, 212, 204);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonStyle-success:hover {
    background-color: rgb(28, 92, 195);
    transform: scale(1.05);
}

.buttonStyle-success:active {
    background-color: rgb(20, 69, 83);
    transform: scale(0.95);
}

.buttonStyle-danger{
    background-color: rgb(229, 97, 36);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttonStyle-danger:hover {
    background-color: rgb(192, 94, 49);
    transform: scale(1.05);
}

.buttonStyle-danger:active {
    background-color: rgb(73, 28, 3);
    transform: scale(0.95);
}

.div-success{
    background-color: seagreen;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.div-danger{
    background-color: rgb(255, 19, 6);
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Container class for grid layout */
.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* col-7 class: 7 out of 12 columns (approximately 58.33%) */
  .col-7 {
    width: 58.33%;
  }
  
  /* col-12 class: full width (100%) */
  .col-12 {
    width: 100%;
  }
  
  /* Optional: Make the grid responsive */
  @media (max-width: 768px) {
    /* On smaller screens, make both columns full width */
    .col-7, .col-12 {
      width: 100%;
    }
  }

  .ng-success{
    background-color: rgb(66, 167, 66);
    color: white;
  }

  .ng-disable{
    background-color: rgb(50, 46, 46);
    color: white;
  }

  .ng-male{
    background-color: rgb(48, 48, 211);
  }

  .ng-female{
    background-color: rgb(255, 45, 87);
  }
